@page
@model DockerModel
@{
    ViewData["Title"] = "Docker POC Page";
}

<div class="text-center">
    <h3>This page is added for Docker POC</h3>
    <p>This app is built to check out VS, Github, Docker and AWS Integration.</p>
    <p>POC by Mohan Motiani</p>
    <a href="http://www.google.com">Google here...</a>
</div>
